********************************************************
********************************************************
**                                                    **
**     Welcome to :inushell of Maxime FURGMANN        **
**                                Pascal WOLFF        **
**                                                    **
**                            V : 3.05.42.2022        **
**                                                    **
********************************************************
********************************************************

Mode beta :
	- command : color


enjoy :)


========================================================
